# Environnement virtuel Python
venv/
__pycache__/
*.pyc

# Fichiers Terraform locaux
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Fichiers OS divers
.DS_Store
Thumbs.db

terraform/*.txt
src/spark_job/*.txt
dags/*.txt
screenshots/

.env